# Python compiled byte code
*.pyc
__pycache__/

# SQLite3 database
*.sqlite3

# Node modules
node_modules/

# Bower components
static/bower_components/

# Uglified JavaScript
dist/

# Staticfiles
staticfiles/

# Settings
mums_invoices/settings.py

# PyCharm
.idea/
