doctype html
html(ng-app="mum")
  head
    title Mum's Invoices
    base(href="/")
    | {% include 'stylesheets.jade' %}
  body
    | {% include 'navbar.jade' %}
    .container-fluid
      .row
        .col-xs-12
          .ui-view
    | {% include 'javascript.jade' %}
