| {% load compress %}
| {% load staticfiles %}

| {% compress js %}


script(type="text/javascript", src="{% static 'bower_components/jquery/dist/jquery.js' %}")

script(type="text/javascript", src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}")
script(type="text/javascript", src="{% static 'bower_components/snackbarjs/dist/snackbar.min.js' %}")
script(type="text/javascript", src="{% static 'bower_components/underscore/underscore-min.js' %}")

script(type="text/javascript", src="{% static 'bower_components/angular/angular.js' %}")
script(type="text/javascript", src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}")
script(type="text/javascript", src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}")
script(type="text/javascript", src="{% static 'bower_components/ngDialog/js/ngDialog.min.js' %}")

script(type="text/javascript", src="{% static 'js/mum.js' %}")
script(type="text/javascript", src="{% static 'js/mum.config.js' %}")
script(type="text/javascript", src="{% static 'js/mum.router.js' %}")

script(type="text/javascript", src="{% static 'js/authentication/authentication.module.js' %}")
script(type="text/javascript", src="{% static 'js/authentication/services/authentication.service.js' %}")
script(type="text/javascript", src="{% static 'js/authentication/controllers/login.controller.js' %}")
script(type="text/javascript", src="{% static 'js/authentication/controllers/registration.controller.js' %}")

script(type="text/javascript", src="{% static 'js/examinations-lists/examinations-lists.module.js' %}")
script(type="text/javascript", src="{% static 'js/examinations-lists/services/examinations-lists.services.js' %}")
script(type="text/javascript", src="{% static 'js/examinations-lists/services/examinations-lists-option-values.service.js' %}")
script(type="text/javascript", src="{% static 'js/examinations-lists/controllers/examinations-lists.controller.js' %}")
script(type="text/javascript", src="{% static 'js/examinations-lists/controllers/new-examinations-list.controller.js' %}")
script(type="text/javascript", src="{% static 'js/examinations-lists/directives/examinations-list.directive.js' %}")

script(type="text/javascript", src="{% static 'js/layout/layout.module.js' %}")
script(type="text/javascript", src="{% static 'js/layout/controllers/navbar.controller.js' %}")
//script(type="text/javascript", src="{% static 'js/layout/controllers/examinations-lists-view.controller.js' %}")

script(type="text/javascript", src="{% static 'js/utils/utils.module.js' %}")
script(type="text/javascript", src="{% static 'js/utils/services/snackbar.service.js' %}")

script(type="text/javascript", src="{% static 'js/profiles/profiles.module.js' %}")
script(type="text/javascript", src="{% static 'js/profiles/controllers/profile.controller.js' %}")
script(type="text/javascript", src="{% static 'js/profiles/controllers/profile-settings.controller.js' %}")
script(type="text/javascript", src="{% static 'js/profiles/services/profile.service.js' %}")


| {% endcompress %}
