| {% load compress %}
| {% load staticfiles %}
| {% compress js %}

script(type="text/javascript", src="{% static 'bower_components/jquery/dist/jquery.js' %}")

script(type="text/javascript", src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}")
script(type="text/javascript", src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}")
script(type="text/javascript", src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}")

script(type="text/javascript", src="{% static 'bower_components/angular/angular.js' %}")

| {% endcompress %}
