.row
  .col-md-4.col-md-offset-4
    h1 Zarejestruj się

    .well
      form.form-horizontal(role="form", ng-submit="vm.register()")
        .alert.alert-danger(ng-show='vm.errorMessage' ng-bind='vm.errorMessage')

        .form-group
          label.col-md-4.control-label(for="register__email") Email
          .col-md-8
            input.form-control#register__email(type="email", ng-model="vm.email", placeholder="np. janek@poczta.pl")

        .form-group
          label.col-md-4.control-label(for="register__username") Nazwa użytkownika
          .col-md-8
            input.form-control#register__username(type="text", ng-model="vm.username", placeholder="np. Janek")

        .form-group
          label.col-md-4.control-label(for="register__password") Hasło
          .col-md-8
            input.form-control#register__password(type="password", ng-model="vm.password", placeholder="np. SkomplikowaneHasło")

        .form-group
          button.btn.btn-primary.pull-right(type="submit") Prześlij
